.main {
  display: flex;
  align-items: center;
  height: 100vh;

  background: rgb(0, 0, 0);
  width: 100%;
  justify-content: space-around;
}

.login {
  display: flex;
  cursor: pointer;
}

/* LOGIN PAGE */

.confirmed {
  font-size: 0px;
}
